/* #name, #lastName {
    color: blueviolet;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
} */

input[type=text]{
    border-radius: 5px;
    border: solid 1px gray;
    width: 300px;
    height: 25px;
    margin: 10px;
    padding-left: 10px;

}

button{
    background-color: rgb(27, 109, 117);
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 320px;
    height: 30px;
    margin: 20px;
}

button:hover{
background-color: rgb(30, 141, 151);
box-shadow: 3px 3px 10px 1px rgb(27, 109, 117);;
}

